<h2>Search for artist</h2>

<form action='/searchForm' method='post'>
      <label for='search'>Search Artist:</label>
      <input id='search' name='search' type='text'>
      <button type='submit'>search</button>
    </form>